.list-container {
    &__list-row {
        display: flex;
        flex-direction: row;
        .info-container {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 30px;
            font-family: 'Raleway';
            font-size: 1rem;
            border: 1px solid black;
            border-radius: 10px;
            margin: 20px;
            .info-wrapper {
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                label {
                    font-weight: 600;
                    padding-right: 10px;
                }
            }
        }
        .info-approved {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 30px;
            font-family: 'Raleway';
            font-size: 1rem;
            justify-content: center;
            align-items: center;

            .button {
                background-color: #2f8d26;
            }

            .approved {
                font-size: 2rem;
    color: #00806d;
    font-weight: 600;
            }
        }
    }
}