<top-menu [ribbonImage]="'ribbon-contributions'"></top-menu>

<section class="wedding-contributions">
  <div class="list-container">
    <div class="list-container__list-row" *ngFor="let contribution of contributions | async; let i = index">
        <div class="info-container">
            <span class="info-wrapper">
              <label>Nome</label>
              {{contribution.name}}
            </span>
            <span class="info-wrapper">
                <label>Email</label>
                {{contribution.email}}
              </span>
              <span class="info-wrapper">
                  <label>Valor</label>
                  {{contribution.value}}
                </span>
                <span class="info-wrapper">
                    <label>Prenda</label>
                    {{contribution.gift}}
                  </span>
          </div>
      <div class="info-approved">
          <button class="button" *ngIf="!contribution.approved" (click)="approveContribution(contribution)">Aprovar</button>
          <span class="approved" *ngIf="contribution.approved">Aprovado!</span>
      </div>
    </div>
  </div>
</section>