@import './../../_mixins.scss';

#gift-modal {
  height: 100vh;
  width: 100%;
  background-color: grey;
  opacity: 0.3;
  z-index: 1;

}

/* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */
  display: none;

  .modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    position: fixed;
    font-family: 'Raleway';

    /* Probably need media queries here */
    width: 90%;
    max-width: 600px;

    //height: 400px;
    max-height: 100%;

    z-index: 100;

    left: 50%;
    top: 40%;

    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;

    .modal-body {
      background: #e9e9e9;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 10px;
      position: relative;
      padding: 0 20px;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 450px;

      h1 {
        font-family: Italianno;
        font-size: 3.5rem;
        font-weight: 500;
        margin: 0;
        padding: 30px;
      }

      .description-photo-container {
        display: flex;
        padding-bottom: 50px;
        width: 80%;
        align-items: center;
        justify-content: center;
      }

      &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
      }
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    background: rgba(0, 0, 0, 0.6);
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  align-items: center;

  &__last {
    padding-bottom: 50px;
  }

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    color: #151617;
    padding: 3px 0;

    @include breakpoint(tablet) {
      width: 12%;
    }
  }

  &__input {
    width: 100%;
    min-height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1rem;

    @include breakpoint(tablet) {
      width: 88%;
    }
  }

  &__button {
    background-color: #8d2e26;
  }
}

.close-modal-container {
  display: flex;
  width: 100%;
  position: absolute;
  font-weight: 300;
  justify-content: flex-end;
  padding-right: 40px;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0 20px;
  padding-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: 'Raleway';
  font-size: 1rem;

  .info-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    label {
      font-weight: 600;
      padding-right: 10px;
    }
  }
}
