<modal id="{{giftModalId}}">
    <div class="modal"  *ngIf="gift">
        <div class="modal-body" [ngStyle]="getBackgroundImage(gift.image)">
            <div class="close-modal-container" (click)="closeModal()">
                X
            </div>
            <h1>{{gift.name ? gift.name : ''}}</h1>

            <div class="description-photo-container" *ngIf="!success">
                <!-- <img src="{{gift.image}}" alt="{{gift.name}}"> -->
                <span class="description-photo-container__description">{{gift ? gift.description : ''}}</span>
            </div>

            <div class="form-container" *ngIf="!success">
                <div class="input-container">
                    <label for="name" class="input-container__label">Nome</label>
                    <input class="input-container__input" type="text" [(ngModel)]="name" name="name" required>
                </div>

                <div class="input-container">
                    <label for="email" class="input-container__label">E-mail</label>
                    <input class="input-container__input" type="email" [(ngModel)]="email" name="email" required>
                </div>

                <div class="input-container input-container__last">
                    <label for="value" class="input-container__label">Valor</label>
                    <input class="input-container__input" type="number" [(ngModel)]="value" name="value" required min="1">
                </div>

                <input class="input-container__button" type="submit" value="Contribuir" (click)="addContribution()">
            </div>
            <div class="modal-body__message" *ngIf="!success">
                <span>
                    {{msg}}
                </span>
            </div>
            <div class="modal-body__message" *ngIf="success">
                <span>
                    Obrigado pelo registo!
                </span>
                <span>
                    Para concluir a sua contribuição de {{value}}€, deverá utilizar um dos seguintes métodos colocando na descrição:
                </span>
                <span>
                    <b>"{{name}} - {{email}}"</b>:
                </span>
                <div class="info-container">
                    <span class="info-wrapper">
                      <label>MBWay</label>
                      <span>Noivo: 912 349 508</span>
                      <span>Noiva: 919 668 096</span>
                    </span>
                    <span class="info-wrapper">
                        <label>Transferência bancária</label>
                        IBAN: PT50 0007 0000 0029 6000 4482 3
                      </span>
                  </div>

                Após a nossa confirmação receberá um email.
            </div>
        </div>


    </div>
    <div class="modal-background"></div>
</modal>
