<top-menu [ribbonImage]="'ribbon-coordinates'"></top-menu>

<section class="wedding-coordinates">

  <div id="tab-group">
    <div class="tab-toggle-menu__menu">
      <div *ngFor="let coordinate of coordinates; let i = index" class="tab-toggle-menu__menu-item" [class.tab-toggle-menu__menu-item--selected]="currentSelection === i" (click)="setLocation(i)">
          <span>{{coordinate.name}}</span>
      </div>
    </div>

    <section class="tab-content">
      <div class="info-container">
        <span class="info-wrapper">
          <label>Local</label>
          {{coordinates[currentSelection].place}}
        </span>
        <span class="info-wrapper">
            <label>Hora</label>
            {{coordinates[currentSelection].hour}}
          </span>
        <span class="info-wrapper">
            <label>Evento</label>
            {{coordinates[currentSelection].event}}
          </span>
        <span class="info-wrapper">
            <label>Morada</label>
            <span *ngFor="let addrLine of coordinates[currentSelection].address.split('\n')">{{addrLine}}</span>
          </span>
          <a href="{{googleMapsLink}}" class="button" target="_blank">Obter Direcções</a>
      </div>
      <agm-map class="map" [latitude]="coordinates[currentSelection].lat" [longitude]="coordinates[currentSelection].lng" [zoom]="coordinates[currentSelection].zoom">
        <agm-marker [latitude]="coordinates[currentSelection].lat" [longitude]="coordinates[currentSelection].lng" [iconUrl]="coordinates[currentSelection].url_icon" ></agm-marker>
        <agm-direction [origin]="currentLocation" [destination]="destinationLocation" [renderOptions]="{suppressMarkers: true}"></agm-direction>
      </agm-map>
    </section>
  </div>

</section>
