@import './../../_mixins.scss';

$tab-height: 600px;
$frame-height-outer: 550px;
$frame-height-inner: 450px;

$frame-height-tablet-outer: 450px;
$frame-height-tablet-inner: 370px;

$frame-height-phone-outer: 300px;
$frame-height-phone-inner: 250px;

$frame-width: 720px;
$frame-width-tablet: 600px;
$frame-width-phone: 390px;

#tab-group, .tab-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title, &__subtitle {
    p{
      margin: 0;
    }
  }

  .tab-toggle-menu {
    &__menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      grid-gap: 10px;
      width: 100%;
    }
    &__menu-item {
      display: flex;
      justify-content: center;
      margin-right: 0;
      text-align: center;
    }
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding: 0;

    @include breakpoint(tablet) {
      flex-direction: row;
      height: $tab-height;
    }

    .info-container {
      display: flex;
      flex-direction: column;
      height: 50%;
      padding: 30px;
      font-family: 'Raleway';
      font-size: 1rem;
      min-width: 50%;

      @include breakpoint(tablet) {
        min-width: auto;
        width: 40%;
      }

      .button {
        background-color: #0d2950d4;
      }

      .info-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        label {
          font-weight: 600;
          padding-right: 10px;
        }

      }
    }

    .map {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
}

.tab-toggle-menu {
  &__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    height: 40px;

    @include breakpoint(tablet) {
      display: flex;
    }

  }
  &__menu-item {
    display: flex;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway';
    cursor: pointer;

    &--selected {
      border-bottom: 2px solid #0d2950d4;
      color: #0d2950d4;
    }
  }
}

