@import './../../_mixins.scss';

.header {
  &__bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #0d29505c;

    padding: 10px 20px;
    max-height: 40px;

    @include breakpoint(tablet) {
      padding: 10px 50px;
      max-height: 50px;
    }

    @include breakpoint(desktop) {
      padding: 10px 100px;
      max-height: 60px;
    }

    &__title {
      font-size: 2.5rem;
      cursor: pointer;

      @include breakpoint(tablet) {
        font-size: 3.2rem;
      }

      &--bottom {
        display: none;
      }
    }

    &__menu {
      display: none;
      font-family: 'Raleway';
      font-size: 1rem;


      &.open{
        display: flex;
        background: #0d29505c;
        position: absolute;
        right: 0;
        top: 60px;
        padding: 20px;
        border-radius: 0 0 0px 4px;
        z-index: 2;
        flex-direction: column;
        width: 170px;
      }


      @include breakpoint(tablet) {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
      }

      &--bottom {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }

    &__menu-item {
      cursor: pointer;
      padding: 10px;
      //display: none;

      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }

      &--selected {
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    &__menu-icon {
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }

      &.open{
        .first, .middle, .last {
          fill: #313535;
        }

      }
      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  .ribbon-container {
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 35%;

    @include breakpoint(tablet) {
      height: 400px;
      background-position-x: 40%;
    }

    @include breakpoint(desktop) {
      height: 500px;
      background-position-x: 50%;
    }

    &__bottom{
      position: absolute;
      height: 0;
      width: 100%;
    }
  }
}
