<section class="header" [class.header__bottom]="!ribbonImage">
  <div class="ribbon-container" [class.ribbon-container__bottom]="!ribbonImage" [style.background-image]="ribbonImage">
    <div class="menu-container">
      <span class="menu-container__title" [class.menu-container__title--bottom]="!ribbonImage" (click)="goToHome()">
        Ana &&nbsp; Dário
      </span>
      <span class="menu-container__menu-icon" [style.display]="!ribbonImage ? 'none' : ''" [class.open]="isMenuOpen" (click)="openMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" aria-labelledby="menu" role="presentation" class="menu" data-v-b6aed376="" data-v-6f9d974a="">
            <title id="menu" lang="en" data-v-b6aed376="">menu icon</title>
            <g fill="white" data-v-b6aed376="">
              <g data-v-6f9d974a="" data-v-b6aed376="">
              <circle cx="3" cy="12" r="3" class="first" data-svg-origin="0 9" transform="matrix(1,0,0,1,18,0)"></circle>
              <circle cx="12" cy="12" r="3" class="middle"></circle>
              <circle cx="21" cy="12" r="3" class="last" data-svg-origin="18 9" transform="matrix(1,0,0,1,-18,0)"></circle>
              </g>
            </g>
          </svg>
      </span>
      <div class="menu-container__menu" [class.menu-container__menu--bottom]="!ribbonImage" [class.open]="isMenuOpen">
        <span class="menu-container__menu-item" [class.menu-container__menu-item--selected]="verifyLocation('wedding-gifts')" (click)="goToGifts()">Lista de Desejos</span>
        <span class="menu-container__menu-item" [class.menu-container__menu-item--selected]="verifyLocation('wedding-coordinates')" (click)="goToLocations()">Locais importantes</span>
      </div>
    </div>
  </div>
</section>
