@import './../../_mixins.scss';

.wedding-gifts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #94989a1f;

  >p {
    font-size: 1rem;
    line-height: 30px;
    text-align: justify;
    font-family: Raleway;
    width: 90%;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 50px;

    @include breakpoint(tablet) {
      font-size: 2.5rem;
    }

    p {
      margin: 0;
      padding: 10px 0;
      text-align: center;
    }
  }

  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); //repeat(auto-fit, minmax($channel-square-width, 1fr)); // stretch
    grid-auto-rows: 1fr;
    column-gap: 60px;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 90%;

    &__list-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      height: 100%;
      border: 1px solid #f1f1f1;
      transition: all 0.3s;
      font-family: 'Dancing Script', sans-serif;
      position: relative;
      height: 150px;
      background-color: #FFF;
      box-shadow: 1px 1px 15px -2px rgba(0, 0, 0, 0.75);

      &:hover {
        cursor: pointer;
        box-shadow: 5px 6px 40px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.list-wrapper {
  &__name {
    padding-left: 10px;
    font-size: 1.8rem;
    width: 65%;
  }
  &__description {
    font-size: 1rem;
  }
  &__progress {
    position: relative;
    height: 80px;
    width: 80px;

    svg {
      width: 100%;
      height: 100%;

      .inner-path {
        fill-opacity: 0;
        stroke: #9d2278;
        stroke-width: 3;
      }
      .outer-path {
        stroke-width: 1;
        stroke: #bbb;
      }
    }

  }
      &__progressbar-text {
        position: absolute;
        top: 25px;
        padding: 0px;
        margin: 0px;
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
      }

  /* Floating action button */
  &__fab {
    position: absolute;
    right: 20px;
    bottom: -40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px;
    background-color: #8d2e26;
    width: 70px;
    height: 70px;
    color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.75);

    &--disabled {
      background-color: #949494;
      cursor: not-allowed;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
