<top-menu [ribbonImage]="'ribbon-gifts'"></top-menu>

<section class="wedding-gifts">

  <div class="intro-container">
    <p>
      Escolher morar no coração um do outro e iluminar-nos por toda a vida, mais do que uma promessa é uma bênção!
    </p>
    <p>
      Partilhar este momento convosco torna tudo ainda mais especial. Sejam muito bem-vindos!
    </p>
    <p>
      A festa, tal como o amor, já começaram e prometem durar a vida inteira!
    </p>
  </div>


  <div class="list-container">
    <div class="list-container__list-wrapper" *ngFor="let gift of gifts | async; let i = index" [attr.data-index]="i"  (click)="openGiftModal(gift)">
      <div #gifts class="list-wrapper__progress" attr.data-percentage="{{gift.percentage}}">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
          <path class="outer-path" fill-opacity="0" stroke-width="1" stroke="#bbb" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z" />
          <path class="inner-path" fill-opacity="0" id="heart-path-{{i}}" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z" />
        </svg>
        <p class="list-wrapper__progressbar-text">{{gift.percentage > 100 ? 100 : gift.percentage}}%</p>
      </div>
      <span class="list-wrapper__name">{{gift.name}}</span>
      <div class="list-wrapper__fab" [class.list-wrapper__fab--disabled]="gift.percentage > 100" (click)="openGiftModal(gift)"><img src="./../../assets/images/gift.svg" alt=""></div>
    </div>
  </div>
</section>

<gift-modal [isModalOpen]="isModalOpen" [gift]="data"></gift-modal>
