
<section class="landing-page">

  <div class="polaroid-container">
    <div class="polaroid-container__polaroid" id="grid">
      <img src="./../assets/images/ad_namoro-52.jpg" alt="cover">
    </div>

    <div class="text-container">
      <span class="text-container__title">
        Ana &&nbsp; Dário
      </span>
      <span class="text-container__date">5 de Outubro de 2018</span>
    </div>

  </div>
</section>

<top-menu></top-menu>
