@import './../../_mixins.scss';

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;

  @include breakpoint(tablet) {
    justify-content: center;
  }

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url('./../../assets/images/ad_namoro-41.jpg');
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.7;
    height: 100vh;
  }

  .polaroid-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.6), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    height: 80%;
    width: 100%;

    @include breakpoint(tablet) {
      width: 75%;
    }

    @include breakpoint(desktop) {
      width: 50%;
    }

    &__polaroid {
      display: flex;
      height: 80%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.gift-container {
  padding: 20px 0;

  @include breakpoint(tablet) {
    padding: 0;
    padding-top: 30px;
  }

  .button {
    background-color: #6e5336;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #8d670d;
    }
  }
}
