@mixin breakpoint($point) {
  @if $point == desktop {
      @media (min-width: 80em) {
          @content;
      }
  }
  @else if $point == tablet {
      @media (min-width: 48em) {
          @content;
      }
  }
  @else if $point == mobileonly {
      @media (max-width: 37.5em) {
          @content;
      }
  }
  @else if $point == tablet-and-below {
      @media (max-width: 64em) {
          @content;
      }
  }
}
