@import 'mixins';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Italianno', cursive;
  font-size: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  padding: 20px;

  &__title {
    font-size: 3.5rem;

    @include breakpoint(tablet) {
      font-size: 4.5rem;
    }
  }

  &__date {
    font-size: 1.5rem;

    @include breakpoint(tablet) {
      font-size: 2.5rem;
    }
  }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
}


